name: CD - Sync Hugging Face Space

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

      - name: Add Hugging Face Space remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote remove space || true
          git remote add space https://ssandhu20:${HF_TOKEN}@huggingface.co/spaces/ssandhu20/AAI6610

      - name: Push to Hugging Face Space
        run: |
          git push space main --force
